<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
   <nav class="navbar navbar-expand-lg bg-body-tertiary" style = "background-color: #08b208;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/" style="color: #ffffffff;">INICIO</a>
        <a class="nav-link" href="/aprendices" style="color: #ffffffff;">APRENDICES</a>
        <a class="nav-link" href="/instructores" style="color: #ffffffff;">INSTRUCTORES</a>
        <a class="nav-link" href="/admin" style="color: #ffffffff;">ADMINISTRACION</a>
      </div>
    </div>
  </div>
</nav>
 
  {% block content %}
  {% endblock %}
</div>
</body>
</html>